* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  justify-content: center;
}

#root h2 {
  font-family: monospace;
  color: red;
}

.dBall-div {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 24px;
  background-color: rgb(211, 207, 207);
  border-radius: 10px;
  border-color: blueviolet;
  border-width: 2px;
  border-style: solid;
}

.dBall-img {
  height: 300px;
  object-fit: cover;
}
